/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6f4f8;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  max-width: 100vw; /* Ensure no content exceeds viewport width */
  width: 100%; /* Set width to 100% to prevent content overflow */
}

header {
  background-color: #394111;
  color: white;
  padding: 5px;
  display: flex;

  justify-content: space-between; /* Spread items horizontally */
  position: fixed;
  top: 0;
  width: 100%; /* Ensure header is always the full width */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

header h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  word-spacing: 3px;
  flex-grow: 1; /* Allow responsive scaling */
}

header img {
  width: 10%; /* Ensure images scale responsively */
  height: auto;
 top: 0%;
left: 2%;
}

main {
  padding: 90px 20px 20px 20px;
  max-width: 100%; /* Prevent content from overflowing horizontally */
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center links */
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  white-space: nowrap; /* Prevent links from wrapping */
  transition: font-size 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  color: #ffda44;
}

.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #394111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  align-items: left;
}

.sidepanel a:hover {
  background-color: #5a662a;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #394111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.openbtn:hover {
  background-color: #5a662a;
}

.result-item {
  padding: 10px;
  background-color: #d7e45e;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: -webkit-sticky; /* For Safari */
  position: sticky; /* For other browsers */
  top: 0;           /* Will stick to the top of the page when scrolled to this point */
  z-index: 1000;    /* Keep it above other elements */
}

.result-item img {
  width: 70px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}

.result-item button.close-btn {
  background-color: #0fdd0c;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 10px;
}

.result-item button.close-btn:hover {
  background-color: #3808e3;
}


/* Airplane Animation */
.background-element {
  position: absolute;
  z-index: 0.5;
  opacity: 1;
}
/* Footer */
footer {
  background-color: #394111;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 4px;
  border-top: 5px solid #5bb2d5;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
      flex-direction: column;
  }

  header h1 {
      font-size: 24px;
      margin: 0;
  }

  .nav-links a {
      font-size: 14px;
  }

  .openbtn {
      font-size: 18px;
  }
}
/* Style for the install notification container */
.install-notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: 100%;
    z-index: 1000;
}

/* Button styling */
#install-button, #dismiss-button {
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px;
}

#install-button:hover, #dismiss-button:hover {
    background-color: #357ABD;
}

